#sideBar{

    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    background-color: #353535;
    

}

#options{
    display: block;
    list-style: none;
    margin: auto;
}